--- 
layout: layouts/base.njk 
permalink: /about/ 
---

<article>
  I am a self-taught Frontend Engineer. I like to keep learning and improving my self. I create websites which are accessible, performant, responsive by default.
</article>