--- 
layout: layouts/base.njk 
permalink: /contact/
---

<section>
<h2>Contact me at</h2>
<address>
  <a href="mailto:abc@random.com">abc@random.com</a><br>
  <a href="tel:000000">000000</a>
</address>

</section>